.header__wrapper {
    background-color: #ffffff;
    padding-left: 10px;
    padding-right: 10px;

    @include media-tablet {
        padding-top: 20px;
        padding-bottom: 20px;
    }
}

.nav-item {
    padding: 40px 15px;

    a {
        color: black !important;
        font-size: 1.8rem;
        font-family: "Lato-Bold";
        text-transform: uppercase;
    }

    a:hover {
        color: $color-green !important;
    }

    @include media-tablet {
        padding: 15px;
    }
}

.active {
    background-color: $color-green;

    a {
        color: white !important;
    }

    a:hover {
        color: black !important;
    }
}