.service__container {
    @include media-laptop {
        display: flex;
        flex-direction: column;
    }
}

.slider {
    margin: 0;
    padding: 0;
}

.service__title {
    width: 110px;

    .title__underline {
        left: 30%;
    }
}

.service__content {
    padding-top: 65px;
    background-color: #efeeee;
}

.description {
    font-size: 1.4rem;
    line-height: 2.4rem;
}

.service__list {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.service__card {
    flex-basis: 40%;
    text-align: justify;
    justify-content: center;
    margin-bottom: 35px;

    img {
        display: block;
        margin: 0 auto;
        margin-bottom: 30px;

        @include media-mobile {
            margin-bottom: 15px;
        }
    }

    @include media-mobile {
        flex-basis: 100%;
    }
}