.tours__wrapper {
    padding-top: 100px;
    padding-bottom: 100px;

    @include media-mobile {
        padding-top: 30px;
        padding-bottom: 30px;
    }
}

.tours__title {
    width: 90px;

    .title__underline {
        width: 40px;
        left: 28%;
    }
}

.gallery {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.galery-item {
    background-image: url(../../img/tours3.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    //  min-height: 215px;
    padding-bottom: 20%;
    flex-basis: 23%;
    margin-bottom: 30px;

    @include media-laptop {
        flex-basis: 31%;
        padding-bottom: 25%;
    }

    @include media-mobile {
        flex-basis: 46%;
        padding-bottom: 35%;
    }

    @media (max-width: 370px) {
        flex-basis: 100%;
        padding-bottom: 80%;
    }
}

.galery-item:nth-of-type(1) {
    background-image: url(../../img/tours1.png);
}

.galery-item:nth-of-type(2) {
    background-image: url(../../img/tours2.png);
}

.galery-item:nth-of-type(4) {
    background-image: url(../../img/tours4.png);
}

.galery-item:nth-of-type(5) {
    background-image: url(../../img/tours5.png);
}

.galery-item:nth-of-type(6) {
    background-image: url(../../img/tours6.png);
}

.galery-item:nth-of-type(7) {
    background-image: url(../../img/tours7.png);
}

.galery-item:nth-of-type(8) {
    background-image: url(../../img/tours8.png);
}

.galery-item:nth-of-type(9) {
    background-image: url(../../img/tours9.png);
}

.galery-item:nth-of-type(10) {
    background-image: url(../../img/tours10.png);
}

.galery-item:nth-of-type(11) {
    background-image: url(../../img/tours11.png);
}

.galery-item:nth-of-type(12) {
    background-image: url(../../img/tours12.png);
}

.tours {
    .btn {
        box-shadow: 5px 5px 20px 5px $color-green;
        border: none;
        display: block;
        margin: 0 auto;
        margin-top: 100px;

        @include media-mobile {
            margin-top: 20px;
        }
    }
}