input,
textarea {
    width: 100%;
    border: none;
    border-bottom: 1px solid #c9c9c9;
    background-color: #efeeee;
    padding-bottom: 15px;
    padding-top: 45px;
    padding-right: 12px;

    &::placeholder {
        font-size: 1.4rem;
        line-height: 6rem;
    }

    &:active,
    &:focus {
        outline: none;
    }
}

textarea {
    resize: none;
    padding-left: 12px;
}

.send__button {
    background-color: $color-green;
    border: none;
    text-transform: uppercase;
    font-size: 2.6rem;
    line-height: 3.3rem;
    padding: 18px 110px 18px 50px;
    color: white;
    margin-top: 60px;
    border-radius: 5px;
    position: relative;
    box-shadow: 5px 5px 20px 5px $color-green;

    &:hover {
        background-color: #2da12f;
    }
}

.button__icon {
    display: block;
    position: absolute;
    width: 30px;
    height: 20px;
    top: 24px;
    right: 50px;
    background: url(../../img/send.png) center no-repeat;
}